.app-management-container {
  padding: 10px;
  width: 35rem;
  height: 25rem;
  background-color: #f9f9f9;
  max-height: 30rem;
  overflow-y: auto;  
  margin-top: 0;
  margin-left: 20px;
}

.blocked-apps-title {
  position: sticky;
  top: 0;
  background-color: #f9f9f9; 
  padding-bottom: 0;
  text-align: left;
}

.app-management-list-container {
  max-height: 18rem;  
  overflow-y: auto;  
  padding-top: 0;
  width: 35rem;
  margin-bottom: 20px;
}

.app-management-list {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

.app-management-list li {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #B8e2a3;
}
