.RightDash {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin-left: 1rem; /* Adjusted margin-left */
}

.theme-title {
    margin-left: 1rem; /* Adjusted margin-left for the title */
    font-size: 2rem; /* Adjust the font size as necessary */
    white-space: nowrap; /* Ensure the text stays on one line */
}

@media screen and (max-width: 1200px) {
    .RightDash {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .RightDash {
        align-items: center;
    }
}
